
.collection--image{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 1400px;
}

.container{
    margin-top: 100px;
  }
  .profile{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  .profile--image{
    display: inline;
    margin: 0 auto;
    height: 150%;
    width: auto;
  }