*
{
  box-sizing: border-box;

}

body
{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;

}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  visibility: hidden;
  height: 0; }

/*-----POST INDEX-----*/

.collection {
  margin-top: 2em;
  display:flex;
  flex-flow: row wrap;
  padding:5px;
  justify-content: space-evenly;


}
.collection--image {
  height: auto;
  width: 400px;
  margin-bottom: 1em;

}

.item--container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item--container button{
  height: 20px;
}

.item{
  width: 50%;
  

}
.item--container p {
font-size: 1em;

}

#id{
  color: #333333;
  font-size: 0.6em;
}

/*DETAIL PAGINA*/
.collection__detail{

  margin: 6.25em 0 0 2em;
  
  
}

.color{
  float: left;
}

.color p {
  font-size: 0.7em;
  text-align: center;
}

.bol{
  list-style: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);

}



.formComment{
  margin-top: 20px;
  margin-left: 110px;
}

.formComment__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  background: #709255;
  color: #fff;
  font-size: 18px;
  margin-top: 16px;
}
.formComment__btn:hover {
  background: #333333;
}
.formComment__input {
      display: block;
      width: 100px;
      background: transparent;
      font-size: 18px;
      color: #555555;
      line-height: 1.2;
      margin-left: 24px;
      margin-bottom: 10px;
      border-bottom: solid #709255 1px;
}


/*-------- NAVIGATIE --------*/

.navbar{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em; 
  background-color: #273B09;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:999;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.navbar .logo
{
  margin-left: auto;
  margin-right: auto;
  color: white;
  

}

.profile--small{
  width: 40px;
  height: 40px;
  background-color: black;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  align-items: center;
}

.profile--imageSmall{
  display: inline;
  margin: 0 auto;
  height: 150%;
  width: auto;
  max-height: 100%;
}

.navbar input
{
  width: 100%;
  max-width: 200px;

  color: black;
  padding: 0.5em;
  border: 1px solid #273B09;
}

a.navbar__logout
{
  margin-left: 2em;
  margin-right: 0;
  color: white;
}

.upload{
  margin-top:100px;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
}

.upload h3{
  text-align: center;
  color: #273B09;

}

.upload input:last-child{
  color:white;
  background-color: #273B09;
  border:none;
  padding:10px;
  width: 30%;
  margin-top:10px;
}

.search{
  color: black;
  padding: 20px;
  margin-top: 50px;
}

.search_submit{
  visibility: hidden;
}

.userName{
  padding-left:15px;
}

/*-----load more-----*/
#load--more{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 16px auto 16px auto;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background-color: #709255;
  color: #fff;
  font-size: 18px;
}

#load--more:hover{
  background-color:#273B09;
  transition: 0.3s;
}
/*-----------------------------------------------------*/
.post {
	width: 30%;
	margin: 10px auto;
	border: 1px solid #cbcbcb;
	padding: 5px 10px 0px 10px;
}
.like, .unlike, .likes_count {
	color: blue;
}
.hide {
	display: none;
}
.fa-thumbs-up, .fa-thumbs-o-up {
	transform: rotateY(-180deg);
	font-size: 1.3em;
}



.collection--search {
  margin-top:100px;
  display:flex;
  flex-flow: row wrap;
  padding:5px;
  justify-content: space-evenly;

}

.container--search{
margin-top:100px;
text-align: center;
}