*
{
  box-sizing: border-box;

}

body
{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;

}

/*-----POST INDEX-----*/

.collection {
  margin-top: 2em;
  display:flex;
  flex-flow: row wrap;
  padding:5px;
  justify-content: space-evenly;

}
.collection--image {
  height: auto;
  width: 400px;

}
.profile__image{

  width: 40px;
  height: 40px;
  border-radius: 50%;

}


/*DETAIL PAGINA*/
.collection__detail{
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  margin-left: 30px;
  background-position: center center;
}
.collectionDetails__desc
{
  color:black;
  background-position: center center;
  font-size: 2em;
  font-weight: bold;
}



.formComment{
  margin-top: 20px;
  margin-left: 110px;
}

.formComment__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 20%;
  height: 50px;
  border-radius: 10px;
  background: #709255;
  color: #fff;
  font-size: 18px;
  margin-top: 16px;
}
.formComment__btn:hover {
  background: #333333;
}
.formComment__input {
      display: block;
      width: 100px;
      background: transparent;
      font-size: 18px;
      color: #555555;
      line-height: 1.2;
      margin-left: 24px;
      margin-bottom: 10px;
      border-bottom: solid #709255 1px;
}


.input{
  background-color: goldenrod;
}

/*-------- NAVIGATIE --------*/

.navbar{
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em; 
  background-color: #273B09;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:999;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.navbar .logo
{
  margin-left: auto;
  margin-right: auto;
  color: white;
  

}

.navbar img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.navbar input
{
  width: 100%;
  max-width: 200px;

  color: black;
  padding: 0.5em;
  border: 1px solid #273B09;
}

a.navbar__logout
{
  margin-left: 2em;
  margin-right: 0;
  color: white;
}

.upload{
  margin-top:100px;
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
}

.upload h3{
  text-align: center;
  color: #273B09;

}

.upload input:last-child{
  color:white;
  background-color: #273B09;
  border:none;
  padding:10px;
  width: 30%;
  margin-top:10px;
}

.search{
  color: black;
  padding: 20px;
  margin-top: 50px;
}

.search_submit{
  visibility: hidden;
}

/*-----load more-----*/
#load--more{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  margin: 16px auto 16px auto;
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background-color: #709255;
  color: #fff;
  font-size: 18px;
}

#load--more:hover{
  background-color:#273B09;
  transition: 0.3s;
}
/*-----profiel-----*/
.container{
  margin-top: 100px;
}